<% if users.any? %>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @users.each do |student| %>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title text-primary"><%= link_to student.full_name, searches_path(search: student.email), target: :blank %></h5>
          <p class="card-text text-muted">Email: <strong><%= student.email %></strong></p>
          <p class="card-text text-muted">Student Uid: <strong><%= student.sid %></strong></p>
          <p class="card-text text-muted">Matriculated Date: <strong><%= student.matriculated_date %></strong></p>
          <p class="card-text text-muted">Current Cohort: <strong><%= student.permission_group.title %></strong></p>

        </div>
      </div>
    </div>
  <% end %>
</div>
<% else %>
  <p class="text-muted">No results found.</p>
<% end %>
